In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [5]:
url = "https://www.popvortex.com/music/charts/top-100-songs.php"

In [6]:
response = requests.get(url)
response.status_code

200

In [7]:
soup = BeautifulSoup(response.content, "html.parser")

In [8]:
# soup

# t's a good place to start! Scrape the current top 100 songs and their respective artists, and put the information into a pandas dataframe.

In [21]:
# soup.select("body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper")

In [13]:
# soup.select("#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p")

[]

In [11]:
songs1=soup.select("#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p > cite")
songs1

In [12]:
songs2=soup.select("#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p > em")
songs2

In [30]:
titles = []
artists = []

songs = soup.select("body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper")

for song in songs:
    title = song.find('cite').get_text()
    artist = song.find('em').get_text()
    titles.append(title)
    artists.append(artist)
                   
    top_100 = pd.DataFrame({"Title": titles, "Artist": artists})
    top_100

In [31]:
top_100.head

<bound method NDFrame.head of             Title         Artist
0  Margaritaville  Jimmy Buffett>

In [32]:
top_100

            Title         Artist
0  Margaritaville  Jimmy Buffett

In [33]:
# titles = []
# artists = []

# songs = soup.select("body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper")

# song_titles = soup.find_all("cite", {"class":"title"} )
# song_artists = soup.find_all("em", {"class":"artist"} )

# for song in range(len(songs)):
#     song_titles.append(song_titles[i].text)
#     song_artists.append(song_artists[i].text)
    
    
# print(song_titles)
# print(song_artists)

In [2]:
# titles = []
# artists = []

# songs = soup.select("body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper")

# song_titles = soup.find_all("cite", {"class":"title"} )
# song_artists = soup.find_all("em", {"class":"artist"} )


# for title, artist in zip(song_titles, song_artists):
#         titles.append(title.get_text())
#         artists.append(artist.get_text())
        
# print(song_titles)
# print(song_artists)

In [15]:
top_100 = pd.DataFrame({"titles": titles, "artists": artists})
top_100

                                        titles                 artists
0                               Margaritaville           Jimmy Buffett
1                                  Come Monday           Jimmy Buffett
2                   Rich Men North of Richmond    Oliver Anthony Music
3                     Cheeseburger In Paradise           Jimmy Buffett
4   Changes In Latitudes, Changes In Attitudes           Jimmy Buffett
..                                         ...                     ...
95                        Pencil Thin Mustache           Jimmy Buffett
96                 All My Life (feat. J. Cole)                Lil Durk
97                           wait in the truck   HARDY & Lainey Wilson
98                                Strokey Doke  Shazam Conner & H-Town
99                           Spirit In the Sky        Norman Greenbaum

[100 rows x 2 columns]

 https://stackoverflow.com/questions/71452964/filtering-soup-find-alldiv-classname-in-python